* {
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
}

img {
  height: auto;
  width: 303px;
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  vertical-align: top;
}

h1 {
  color: #ff0000F0;
  background-color: #ffff0040;
  text-transform: uppercase;
}

h3 {
  font-style: italic;
  margin-top: 0;
}

h4 {
  background-color: #ffff0040;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  margin-top: 0;
}

.centered {
  text-align: center;
  margin-bottom: 0;
}

.header {
  font-family: 'Times New Roman', Times, serif;
  padding: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.plain-list {
  list-style: none;
  margin-bottom: 12px;
}

.container {
  width: 800px;
  border: 1px solid #70809080;
  border-radius: 1%;
  padding: 8px;
  margin: auto;
}

div.blurb {
  width: 463px;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
  margin-bottom: 8px;
}

div.ingredients,
div.directions {
  display: inline-block;
  vertical-align: top;
  margin-right: auto;
  margin-top: 5px;
}

div.ingredients {
  width: 303px;
  padding-right: 5px;
}

div.directions {
  width: 463px;
}